.intro
{   
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../images/intro(2).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
}

.intro::after
{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}

.intro__container
{
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 52;
    gap: 20px;
    width: 90%;
}

.title__intro, .text__intro
{
    display: inline-flex;
    flex-wrap: nowrap;
}

.title__intro
{
    font-family: var(--poppins);
    line-height: 1.5;
    color:var(--White);
    font-size:50px;
    font-weight: 500;
    z-index: 2;
}


@media (max-width:1230px)
{
    .title__intro
    {
        font-size: 40px;    
    }
}


@media (max-width:980px)
{
    .title__intro
    {
        font-size: 35px;    
    }
}

