.tour__offer
{
    display: flex;
    margin-top: 150px;
}

.tour__grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.title4tour
{
        max-width: 400px;
        font-size: 24px;
        font-family: var(--lato);
        font-weight: 500;
        position: relative;
        text-align: center;
        padding-bottom: 15px;
        margin-bottom: 20px;
}

.title4tour::after
{
    content:"";
    display: block;
    background-color: var(--Grey);
    position: absolute;
    width: 400px;
    height: 3px;
    bottom: 0;
    left: 0;
}

.tour__column
{
    display: flex;
    max-width: 400px;
    flex-direction: column;
}

.tour__column:first-child
{
    gap:0px;
}

.card__tour
{
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.card__tour:not(:first-child)
{
    margin-bottom: 15px;
}

.card__img 
{
    width: 100%;
    height: 280px;
    display: block;
}

.card__tour-stats
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: var(--White);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.name__card
{
    font-size: 16px;
    font-family: var(--lato);
}

.card__interactions
{
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 16px;
    font-family: var(--lato);
}

.card__like, .card__commentos
{
    display: flex;
    align-items: center;
    gap: 5px;
}

.svg__commentos 
{
    width: 16px;
    height: 16px;
}

.svg__like
{
    width: 25px;
    height: 25px;
}

.card__tour-link
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

@media (max-width:1230px)
{
    .card__tour
    {
        max-width: 300px;
    }
    
    .card__tour-stats
    {
        padding: 10px;  
    }

    .title4tour::after
    {
        content:"";
        display: block;
        background-color: var(--Grey);
        position: absolute;
        width: 300px;
        height: 3px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width:1000px)
{
    .title4tour::after
    {
    content:"";
    display: block;
    background-color: var(--Grey);
    position: absolute;
    width: 200px;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    }

    .card__tour
    {
        max-width: 300px;
    }
    
    .card__tour-stats
    {
        padding: 5px;
    }

    .card__img 
    {
        height: 230px;
    }

    .name__card
    {
        font-size: 12px;
    }
    
    .card__like, .card__commentos
    {
        font-size: 12px;
    }

    .svg__commentos
    {
        width: 12px;
        height: 12px;
    }
    
    .svg__like
    {
        width: 19px;
        height: 19px;
    }

}

@media (max-width:880px)
{
    .tour__grid
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .tour__grid .centered-item
    {
        grid-column: 1 / -1;
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width:650px)
{
    .card__tour
    {
        max-width: 300px;
    }
}

@media (max-width:610px)
{
    .tour__grid
    {
        grid-template-columns: repeat(1,1fr);
    }

    .title4tour::after
    {
        width: 280px;
    }
    
    .card__tour
    {
        max-width: 320px;
    }

    .tour__grid .centered-item
    {
        grid-column: 1 / -1;
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width:350px) 
{
    .title4tour::after
    {
        width: 250px;
    }    
}