.why__jrpass
{
    margin-top: 100px;
}

.text__inner
{
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    height: 450px;
    justify-content: space-between;
}

.text__why-jrpass
{
    font-size: 20px;
    width: 100%;
    font-family: var(--lato);
    font-weight: 700;
    color: var(--Black);
}

.text__discription
{
    font-size: 18px;
    font-family: var(--lato);
    color: var(--Grey);
    font-weight: 500;
}


.img__why-jrpass
{
    width: 600px;
    height: 450px;
}

.line-box
{
    padding-left: 15px;
}
  
  .line-box::before
{
    content: "";
    width: 20px;
    height: 1px;
    background: #000;
    margin-right: 10px;
}