.tourButton
{   
    max-width: 320px;
    font-family: var(--lato);
    background-color: rgba(255, 255, 255, 0.616);
    backdrop-filter: blur(1 px);
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid var(--Black);
    padding: 20px 30px;
    transition: .7s;
}

.tourButton:hover
{
    color: var(--White);
    background-color: rgba(0, 0, 0, 0.616);
    border: 1px solid var(--White);
}

.banner__button
{
    margin-top:10px;
    font-size: 20px;
    font-family: var(--lato);
    color: var(--Black);
    padding: 10px 25px;
    background-color: rgba(255, 249, 249, 0.757);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    transition: .5s;
}

.banner__button:hover
{
    scale: 1.02;
}

.jrpass__button
{
    font-family: var(--lato);
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(1 px);
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid var(--Black);
    padding: 10px;
    transition: .7s;
}

.jrpass__button:hover
{
    background-color: rgb(75, 75, 75);
    color: var(--White);
    scale: 1.05;
}