.header
{
    position: fixed;    
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: .7s;
}


.header.--scroll .header__link
{
    color: var(--Black);
}

.header.--scroll .header__inner
{
    background-color: rgba(255, 168, 168, 0.15);
    border: solid 0.5px var(--Black);
    border-radius: 20px;
    backdrop-filter: blur(20px);
}

.header__inner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.header__nav
{
    flex: 1;
}

.header__nav:first-child .header__list
{
    justify-content: flex-end;
}


.header__list
{
    display: flex; 
    gap: 60px;
}

.header__link
{
    font-size: 24px;
    color:white;
    font-family: var(--lato);
    transition: .7s;
}

.logo
{
    margin: 0 90px;
}